<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/countries"></ion-back-button>
    </ion-buttons>
    <ion-title>News from {{countryName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="news.length > 0; else noNews">
    <ion-item *ngFor="let article of news">
      <ion-thumbnail slot="start" *ngIf="article.image_url">
        <img [src]="article.image_url" alt="{{ article.title }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <a [href]="article.link" target="_blank">Read more</a>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noNews> 
    <p>No news found for {{countryName}}. </p>
  </ng-template>
</ion-content>
