<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings" fill="outline">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Student Number: G00425720</h1>
  <ion-item>
    <ion-label>Search Country</ion-label>
    <ion-input placeholder="Enter country name" [(ngModel)]="searchTerm"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="search()">Search</ion-button>
</ion-content>
